<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://www.springframework.org/tags" >
    <head>
    	<meta charset="UTF-8" />
        <title th:text="#{label.costCenterCreationTitle}"></title>
        
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
	        body {
	            padding-top: 60px;
	            padding-bottom: 40px;
	        }
	
	        .sidebar-nav {
	            padding: 9px 0;
	        }
	    </style>
	   	<link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.4.min.css}"/>
<!-- 	      For production purposes, min version should be used -->
		<script th:src="@{/resources/js/jquery-1.11.0.min.js}"></script>
		<script th:src="@{/resources/js/jquery-ui-1.10.4.min.js}"></script>
	    <link th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet" />
	    <link th:href="@{/resources/css/magnificPopup.css}" rel="stylesheet" />
	    <script th:src="@{/resources/js/magnificPopup.min.js}"></script>
	    <script type="text/javascript">
	      /* <![CDATA[ */
	      
	      function hideAlert(){
	    	  document.getElementById("_savedAlert").style.display='none';
	      }
	     
	      $(document).keyup(function(e) {
	    	  if(e.which == 27) {
	    		var path=window.location.pathname.split("/");
  	    		var prefix="";
  	    		if (path[1].localeCompare("configuration")!=0){
  	    			prefix="/"+path[1];	
  	    		}
	     		 window.open(prefix+"/purchase/costCenter/searchCostCenter","_self");
	    	  }
	    	});
	        	     
		   
		     
		  function setFocus(){
		   		document.getElementById("costCenterCode").focus();
		   } 
		   
		   
		   $(document).ready( function () {
				
				$('.about-ajax-popup').magnificPopup({
					type: 'ajax'
				});
			} );
		   
	       /* ]]> */
	     </script>
    </head>
    <body onload="setFocus()">
    	<div th:include="normal/layoutpurchase :: header" ></div>
    	<div class="container-fluid">	
			<div class="row-fluid">
		        <form th:object="${costCenterInfo}" method="post" onchange="hideAlert();">
		        	<div id="back"><a th:if="${costCenterInfo.calledFrom=='fromList'}" th:text="#{label.back}" th:href="@{/purchase/costCenter/searchCostCenter}"></a></div>
		        	<div align="center">
		        	<h3 th:text="#{label.costCenterCreationTitle}"></h3>
		        	<br/>
		        	<table>		        			        			
		        		<tr>
		        				<td ><b th:text="#{label.costCenterCostCenterCode}+': '"></b></td>
		        				<td><input id="costCenterCode" name="costCenterCode" type="text" th:value="*{{costCenterCode}}" /></td>
		        				<td th:if="${costCenterCodeException}"><div class="alert alert-error" th:text="#{${costCenterCodeValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.costCenterCostCenter}+': '"></b></td>
		        				<td><input id="costCenter" name="costCenter" type="text" th:value="*{{costCenter}}" /></td>
		        				<td th:if="${costCenterException}"><div class="alert alert-error" th:text="#{${costCenterValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        			<td ><b th:text="#{label.costCenterCompanyLetter}+': '"></b></td>
		        			<td><select id="companyLetter" onChange="companyLetterSelectedRefresh()" th:field="*{companyLetterId}"><option th:each="reference : ${costCenterInfo.companyLetterList}" th:value="${reference.id}" th:text="${reference.letter}"></option></select></td>
		        			<td th:if="${companyLetterException}"><div class="alert alert-error" th:text="#{${companyLetterValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        			<td ><b th:text="#{label.costCenterCompanyCode}+': '"></b></td>
		        			<td><select id="companyCode" onChange="companyCodeSelectedRefresh()" th:field="*{companyCodeId}"><option th:each="reference : ${costCenterInfo.companyCodeList}" th:value="${reference.id}" th:text="${reference.company}"></option></select></td>
		        			<td th:if="${companyCodeException}"><div class="alert alert-error" th:text="#{${companyCodeValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        			<td ><b th:text="#{label.costCenterContract}+': '"></b></td>
		        			<td><select id="contract" onChange="contractSelectedRefresh()" th:field="*{contractId}"><option th:each="reference : ${costCenterInfo.contractList}" th:value="${reference.id}" th:text="${reference.contract}"></option></select></td>
		        			<td th:if="${contractException}"><div class="alert alert-error" th:text="#{${contractValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.costCenterNumber}+': '"></b></td>
		        				<td><input id="number" name="number" type="text" th:value="*{{number}}" /></td>
		        				<td th:if="${numberException}"><div class="alert alert-error" th:text="#{${numberValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        		 			<td ><b th:text="#{label.costCenterActive}+': '"></b></td>
		        		   			<td ><input type="checkbox" th:field="*{active}" /></td>
		        		</tr>

		        		<tr>
		        			<td>
		        				<input type="submit" th:value="#{label.save}" />
		        			</td>
		        		</tr>
		        	</table>
		        	</div>
		        </form>
		    </div>
		    <div id="_savedAlert" th:if='${costCenterInfo.created}' class="alert alert-info" th:text="#{label.created}">
            </div>
            <div th:if='${costCenterCreateException}' class="alert alert-error" th:text="#{label.costCenterCreationError}">
            </div>
            <div th:if='${costCenterValidationException}' class="alert alert-error" th:text="#{label.validationError}">
            </div>
	    </div>
		<div class="container-fluid" th:include="normal/layoutpurchase :: footer"></div>    
    </body>
</html>