<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://www.springframework.org/tags" >
    <head>
    	<meta charset="UTF-8" />
        <title th:text="#{label.miniMaxModificationTitle}"></title>
        
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
	        body {
	            padding-top: 60px;
	            padding-bottom: 40px;
	        }
	
	        .sidebar-nav {
	            padding: 9px 0;
	        }
	    </style>
	    
	    <link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.4.min.css}"/>
<!-- 	      For production purposes, min version should be used -->
		<script th:src="@{/resources/js/jquery-1.11.0.min.js}"></script>
		<script th:src="@{/resources/js/jquery-ui-1.10.4.min.js}"></script>
	    <link th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet" />
    	<link th:href="@{/resources/css/magnificPopup.css}" rel="stylesheet" />
	    <script th:src="@{/resources/js/magnificPopup.min.js}"></script>
    	<script type="text/javascript">
    	/* <![CDATA[ */
    	
	     $(document).on("click", "a", function(event){
	     	if (event.target.id!="about-ajax-popup"){
		    	  var link = $(this);
		    	  var target = link.attr("target");
		    	  if($.trim(target).length > 0)
		    	  {
		    	    window.open(link.attr("href"), target);
		    	  }
		    	  else
		    	  {
		    	     window.location = link.attr("href");
		    	  }
	
		    	  event.preventDefault();
	    	  }
	    	});
	     
	     $(document).keyup(function(e) {
	    	  if(e.which == 27) {
	     		  $('#back a').trigger('click');
	    	  }
	    	});
	    	
	    	function setFocus(){
		   		document.getElementById("item").focus();
		   }

		    
		    
		    
		    $(document).ready( function () {
				
				$('.about-ajax-popup').magnificPopup({
					type: 'ajax'
				});
			} ); 
		    
		 /* ]]> */
	     </script>
	     
    
    </head>
    <body onload="setFocus()">
    	<div th:include="normal/layoutpurchase :: header" ></div>
    	<div class="container-fluid">	
			<div class="row-fluid">
		        <form th:object="${miniMaxInfo}" method="post">
		        	<div id="back"><a th:text="#{label.back}" th:href="@{/purchase/miniMax/searchMiniMax}"></a></div>
		        	<div align="center">
		        	<h3 th:text="#{label.miniMaxModificationTitle}"></h3>
		        	<br/>
		        	<table>
		        		<tr>
		        			<td ><b th:text="#{label.miniMaxItem}+': '"></b></td>
		        			<td><select id="item" onChange="itemSelectedRefresh()" th:field="*{itemId}"><option th:each="reference : ${miniMaxInfo.itemList}" th:value="${reference.id}" th:text="${reference.description}"></option></select></td>
		        			<td th:if="${itemException}"><div class="alert alert-error" th:text="#{${itemValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        			<td ><b th:text="#{label.miniMaxWarehouse}+': '"></b></td>
		        			<td><select id="warehouse" onChange="warehouseSelectedRefresh()" th:field="*{warehouseId}"><option value=""></option><option th:each="reference : ${miniMaxInfo.warehouseList}" th:value="${reference.id}" th:text="${reference.warehouse}"></option></select></td>
		        			<td th:if="${warehouseException}"><div class="alert alert-error" th:text="#{${warehouseValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.miniMaxMinimumQuantity}+': '"></b></td>
		        				<td><input id="minimumQuantity" name="minimumQuantity" type="text" th:value="*{{minimumQuantity}}" /></td>
		        				<td th:if="${minimumQuantityException}"><div class="alert alert-error" th:text="#{${minimumQuantityValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.miniMaxMaximumQuantity}+': '"></b></td>
		        				<td><input id="maximumQuantity" name="maximumQuantity" type="text" th:value="*{{maximumQuantity}}" /></td>
		        				<td th:if="${maximumQuantityException}"><div class="alert alert-error" th:text="#{${maximumQuantityValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.miniMaxOrderQuantity}+': '"></b></td>
		        				<td><input id="orderQuantity" name="orderQuantity" type="text" th:value="*{{orderQuantity}}" /></td>
		        				<td th:if="${orderQuantityException}"><div class="alert alert-error" th:text="#{${orderQuantityValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        		 			<td ><b th:text="#{label.miniMaxActive}+': '"></b></td>
		        		   			<td ><input type="checkbox" th:field="*{active}" /></td>
		        		</tr>

		        		<tr>
		        			<td>
		        				<input type="submit" th:value="#{label.save}" />
		        			</td>
		        		</tr>
		        	</table>
		        	</div>
		        </form>
		    </div>
		    <div th:if='${miniMaxModificationException}' class="alert alert-error" th:text="#{label.miniMaxModificationError}">
            </div>
            <div th:if='${miniMaxValidationException}' class="alert alert-error" th:text="#{label.validationError}">
            </div>
	    </div>
		<div class="container-fluid" th:include="normal/layoutpurchase :: footer"></div>    
    </body>
</html>