<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://www.springframework.org/tags" >
    <head>
    	<meta charset="UTF-8" />
        <title th:text="#{label.stateModificationTitle}"></title>
        
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
	        body {
	            padding-top: 60px;
	            padding-bottom: 40px;
	        }
	
	        .sidebar-nav {
	            padding: 9px 0;
	        }
	    </style>
	    
	    <link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.4.min.css}"/>
<!-- 	      For production purposes, min version should be used -->
		<script th:src="@{/resources/js/jquery-1.11.0.min.js}"></script>
		<script th:src="@{/resources/js/jquery-ui-1.10.4.min.js}"></script>
	    <link th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet" />
    	<link th:href="@{/resources/css/magnificPopup.css}" rel="stylesheet" />
	    <script th:src="@{/resources/js/magnificPopup.min.js}"></script>
	    <script th:src="@{/resources/js/bootstrap-tab.js}"></script>
	    
    	<script type="text/javascript">
    	/* <![CDATA[ */
    	
	     $(document).on("click", "a", function(event){
	     	if (event.target.id!="about-ajax-popup"){
		    	  var link = $(this);
		    	  var target = link.attr("target");
		    	  if($.trim(target).length > 0)
		    	  {
		    	    window.open(link.attr("href"), target);
		    	  }
		    	  else
		    	  {
		    	     window.location = link.attr("href");
		    	  }
	
		    	  event.preventDefault();
	    	  }
	    	});
	     
	     $(document).keyup(function(e) {
	    	  if(e.which == 27) {
	     		  $('#back a').trigger('click');
	    	  }
	    	});
	    	
	    	function setFocus(){
		   		document.getElementById("company").focus();
		   }

		    
		    
		    
		    $(document).ready( function () {
				
				$('.about-ajax-popup').magnificPopup({
					type: 'ajax'
				});
			} ); 
		    
		 /* ]]> */
	     </script>
	     
    
    </head>
    <body onload="setFocus()">
    	<div th:include="normal/layoutmaintenance :: header" ></div>
    	<div class="container-fluid">	
			<div class="row-fluid">
		        <form th:object="${stateInfo}" method="post">
		        	<div id="back"><a th:text="#{label.back}" th:href="@{/maintenance/state/searchState}"></a></div>
		        	<div align="center">
		        	<h3 th:text="#{label.stateModificationTitle}"></h3>
		        	<br/>
		        	
		        	<table>
		        		<tr>
		        			<td ><b th:text="#{label.stateCompany}+': '"></b></td>
		        			<td>
		        				<select th:if="${_loggedInUser.stateUpdate}" id="company" onChange="companySelectedRefresh()" th:field="*{companyId}"><option th:each="reference : ${stateInfo.companyList}" th:value="${reference.id}" th:text="${reference.companyName}"></option></select>
		        				<select th:if="${_loggedInUser.stateUpdate} != true" disabled="disabled" id="company" onChange="companySelectedRefresh()" th:field="*{companyId}"><option th:each="reference : ${stateInfo.companyList}" th:value="${reference.id}" th:text="${reference.companyName}"></option></select>
		        			</td>
		        			<td th:if="${companyException}"><div class="alert alert-error" th:text="#{${companyValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.stateNameState}+': '"></b></td>
		        				<td>
		        					<input th:if="${_loggedInUser.stateUpdate}" id="nameState" name="nameState" type="text" th:value="*{{nameState}}" />
		        					<input th:if="${_loggedInUser.stateUpdate} != true" disabled="disabled" id="nameState" name="nameState" type="text" th:value="*{{nameState}}" />
		        					
		        				</td>
		        				<td th:if="${nameStateException}"><div class="alert alert-error" th:text="#{${nameStateValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.stateTypeState}+': '"></b></td>
		        				<td>
		        					<input th:if="${_loggedInUser.stateUpdate}" id="typeState" name="typeState" type="text" th:value="*{{typeState}}" />
		        					<input th:if="${_loggedInUser.stateUpdate} != true" disabled="disabled" id="typeState" name="typeState" type="text" th:value="*{{typeState}}" />
		        					
		        				</td>
		        				<td th:if="${typeStateException}"><div class="alert alert-error" th:text="#{${typeStateValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        		 			<td ><b th:text="#{label.stateClassState}+': '"></b></td>
		        		   			<td >
		        		   				<input th:if="${_loggedInUser.stateUpdate}" type="checkbox" th:field="*{classState}" />
		        		   				<input th:if="${_loggedInUser.stateUpdate} != true" disabled="disabled" type="checkbox" th:field="*{classState}" />
		        		   			</td>
		        		</tr>
		        		<tr>
		        		 			<td ><b th:text="#{label.stateActive}+': '"></b></td>
		        		   			<td >
		        		   				<input th:if="${_loggedInUser.stateUpdate}" type="checkbox" th:field="*{active}" />
		        		   				<input th:if="${_loggedInUser.stateUpdate} != true" disabled="disabled" type="checkbox" th:field="*{active}" />
		        		   			</td>
		        		</tr>

		        	</table>
		        	<table>
		        		<tr>
		        			<td>
		        				<input th:if="${_loggedInUser.StateUpdate}" type="submit" th:value="#{label.save}" />
		        			</td>
		        		</tr>
		        	</table>
		        	</div>
		        </form>
		    </div>
		    <div th:if='${stateModificationException}' class="alert alert-error" th:text="#{label.stateModificationError}">
            </div>
            <div th:if='${stateValidationException}' class="alert alert-error" th:text="#{label.validationError}">
            </div>
	    </div>
		<div class="container-fluid" th:include="normal/layoutmaintenance :: footer"></div>    
    </body>
</html>