<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://www.springframework.org/tags">
 <head>
<meta charset="ISO-8859-1"/>
<title th:text="#{label.itemTitle}"></title>

<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
	        body {
	            padding-top: 60px;
	            padding-bottom: 40px;
	        }
	
	        .sidebar-nav {
	            padding: 9px 0;
	        }
	    </style>
	     <link th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet" />
</head>
<body>
	<div th:include="normal/layout :: header" ></div>
	<div class="container-fluid">	
		<div class="row-fluid">
			<h3 th:text="#{label.itemInfo}"> </h3>
			<table width="100%">
				<tr>
					<td width="33%"><div class='pagination pagination-left'><ul><li><a th:href="@{/configuration/items/createItem/fromList}" th:title='#{label.createItem}'>+</a></li></ul></div></td>
					<td width="33%"><div th:include="normal/dataTable :: paginationbar" ></div></td>
					<td width="34%"><div></div></td>
				</tr>
			</table>
			<table class="table table-striped" >
				<thead>
					<tr>
						<th ><a th:href="@{${page.url}+'?field=code'}" th:text="#{label.code}"></a></th>
						<th ><a th:href="@{${page.url}+'?field=shortDescription'}" th:text="#{label.shortDescription}"></a></th>
						<th th:href="@{${page.url}+'?field=purchaseUnitOfMeasurement'}" th:text="#{label.purchaseUnitofMeasurement}"></th>
						<th th:href='@{${page.url}(page.page=${page.number+1})}' th:text="#{label.partNumber}"></th>
						<th th:text="#{label.array}"></th>
						<th th:text="#{label.group}"></th>
						<th th:text="#{label.enabled}"></th>
						<th th:text="#{label.blocked}"></th>
						<th th:text="#{label.itemDateOfCreation}"></th>
						<th th:text="#{label.userName}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="object: ${list}">
						<td><a th:href="@{/configuration/items/modifyItem/}+${object.code}" th:text="${object.code}"></a></td>
						<td th:text="${object.shortDescription}"></td>
						<td th:text="${object.purchaseUnitOfMeasurement}"></td>
						<td th:text="${object.partNumber}"></td>
						<td th:text="${object.array}"></td>
						<td th:text="${object.groupOfItems}"></td>
						<td th:text="${object.enabled}"></td>
						<td th:text="${object.blocked}"></td>
						<td th:text="${object.dateOfCreation}"></td>
						<td th:text="${object.userName}"></td>
					</tr>
				</tbody>
			</table>
			<table width="100%">
				<tr>
					<td width="33%"></td>
					<td width="33%"><div th:include="normal/dataTable :: paginationbar" ></div></td>
					<td width="34%"><div></div></td>
				</tr>
			</table>
		</div>
	</div>
	<div th:include="normal/layout :: footer"></div>
</body>
</html>