<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://www.springframework.org/tags" >
    <head>
    	<meta charset="UTF-8" />
        <title th:text="#{label.usersCreationTitle}"></title>
        
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
	        body {
	            padding-top: 60px;
	            padding-bottom: 40px;
	        }
	
	        .sidebar-nav {
	            padding: 9px 0;
	        }
	    </style>
	   	<link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.4.min.css}"/>
<!-- 	      For production purposes, min version should be used -->
		<script th:src="@{/resources/js/jquery-1.11.0.min.js}"></script>
		<script th:src="@{/resources/js/jquery-ui-1.10.4.min.js}"></script>
	    <link th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet" />
	    <link th:href="@{/resources/css/magnificPopup.css}" rel="stylesheet" />
	    <script th:src="@{/resources/js/magnificPopup.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap-tab.js}"></script>
	  
	    <script type="text/javascript">
	      /* <![CDATA[ */
	      
	      function hideAlert(){
	    	  document.getElementById("_savedAlert").style.display='none';
	      }
	     
	      $(document).keyup(function(e) {
	    	  if(e.which == 27) {
	    		var path=window.location.pathname.split("/");
  	    		var prefix="";
  	    		if (path[1].localeCompare("configuration")!=0){
  	    			prefix="/"+path[1];	
  	    		}
	     		 window.open(prefix+"/purchase/users/searchUsers","_self");
	    	  }
	    	});
	        	     
		   
		     
		  function setFocus(){
		   		document.getElementById("login").focus();
		   } 
		   
		   
		   $(document).ready( function () {
				
				$('.about-ajax-popup').magnificPopup({
					type: 'ajax'
				});
			} );
		   
	       /* ]]> */
	     </script>
    </head>
    <body onload="setFocus()">
    	<div th:include="normal/layoutpurchase :: header" ></div>
    	<div class="container-fluid">	
			<div class="row-fluid">
		        <form th:object="${usersInfo}" method="post" onchange="hideAlert();">
		        	<div id="back"><a th:if="${usersInfo.calledFrom=='fromList'}" th:text="#{label.back}" th:href="@{/purchase/users/searchUsers}"></a></div>
		        	<div align="center">
		        	<h3 th:text="#{label.usersCreationTitle}"></h3>
	        			 <ul class="nav nav-tabs">   <li class="active"><a data-toggle="tab" href="#General">General</a></li><li><a data-toggle="tab" href="#Infrastructure">Infrastructure</a></li></ul>
		        	<br/>
		        	
		        	<div class="tab-content"><div id="General" class="tab-pane fade in active">
		        		<table>
		        			<tr>
		        					<td ><b th:text="#{label.usersLogin}+': '"></b></td>
		        					<td><input id="login" name="login" type="text" th:value="*{{login}}" /></td>
		        					<td th:if="${loginException}"><div class="alert alert-error" th:text="#{${loginValidationErrorMessage}}"></div></td>
		        			</tr>
		        			<tr>
		        					<td ><b th:text="#{label.usersPassword}+': '"></b></td>
		        					<td><input id="password" name="password" type="text" th:value="*{{password}}" /></td>
		        					<td th:if="${passwordException}"><div class="alert alert-error" th:text="#{${passwordValidationErrorMessage}}"></div></td>
		        			</tr>
		        			<tr>
		        					<td ><b th:text="#{label.usersRole}+': '"></b></td>
		        					<td><input id="role" name="role" type="text" th:value="*{{role}}" /></td>
		        					<td th:if="${roleException}"><div class="alert alert-error" th:text="#{${roleValidationErrorMessage}}"></div></td>
		        			</tr>
		        			<tr>
		        				<td ><b th:text="#{label.usersCompany}+': '"></b></td>
		        				<td><select id="company" onChange="companySelectedRefresh()" th:field="*{companyId}"><option th:each="reference : ${usersInfo.companyList}" th:value="${reference.id}" th:text="${reference.companyName}"></option></select></td>
		        				<td th:if="${companyException}"><div class="alert alert-error" th:text="#{${companyValidationErrorMessage}}"></div></td>
		        			</tr>
		        			<tr>
		        			 			<td ><b th:text="#{label.usersActive}+': '"></b></td>
		        			   			<td ><input type="checkbox" th:field="*{active}" /></td>
		        			</tr>

		        		</table>
		        	</div><div id="Infrastructure" class="tab-pane fade ">
		        		<table>
		        			<tr>
		        			 			<td ><b th:text="#{label.usersCurrencyRead}+': '"></b></td>
		        			   			<td ><input type="checkbox" th:field="*{currencyRead}" /></td>
		        			</tr>
		        			<tr>
		        			 			<td ><b th:text="#{label.usersCurrencyCreate}+': '"></b></td>
		        			   			<td ><input type="checkbox" th:field="*{currencyCreate}" /></td>
		        			</tr>
		        			<tr>
		        			 			<td ><b th:text="#{label.usersCurrencyUpdate}+': '"></b></td>
		        			   			<td ><input type="checkbox" th:field="*{currencyUpdate}" /></td>
		        			</tr>
		        			<tr>
		        			 			<td ><b th:text="#{label.usersCurrencyExport}+': '"></b></td>
		        			   			<td ><input type="checkbox" th:field="*{currencyExport}" /></td>
		        			</tr>

		        		</table>
		        	</div></div>
		        	<table>		        			        			
		        		<tr>
		        			<td>
		        				<input type="submit" th:value="#{label.save}" />
		        			</td>
		        		</tr>
		        	</table>
		        	</div>
		        </form>
		    </div>
		    <div id="_savedAlert" th:if='${usersInfo.created}' class="alert alert-info" th:text="#{label.created}">
            </div>
            <div th:if='${usersCreateException}' class="alert alert-error" th:text="#{label.usersCreationError}">
            </div>
            <div th:if='${usersValidationException}' class="alert alert-error" th:text="#{label.validationError}">
            </div>
	    </div>
		<div class="container-fluid" th:include="normal/layoutpurchase :: footer"></div>    
    </body>
</html>