<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://www.springframework.org/tags" >
    <head>
    	<meta charset="UTF-8" />
        <title th:text="#{label.populatedPlaceCreationTitle}"></title>
        
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
	        body {
	            padding-top: 60px;
	            padding-bottom: 40px;
	        }
	
	        .sidebar-nav {
	            padding: 9px 0;
	        }
	    </style>
	   	<link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.4.min.css}"/>
<!-- 	      For production purposes, min version should be used -->
		<script th:src="@{/resources/js/jquery-1.11.0.min.js}"></script>
		<script th:src="@{/resources/js/jquery-ui-1.10.4.min.js}"></script>
	    <link th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet" />
	    <link th:href="@{/resources/css/magnificPopup.css}" rel="stylesheet" />
	    <script th:src="@{/resources/js/magnificPopup.min.js}"></script>
	    <script type="text/javascript">
	      /* <![CDATA[ */
	      
	      function hideAlert(){
	    	  document.getElementById("_savedAlert").style.display='none';
	      }
	     
	      $(document).keyup(function(e) {
	    	  if(e.which == 27) {
	    		var path=window.location.pathname.split("/");
  	    		var prefix="";
  	    		if (path[1].localeCompare("configuration")!=0){
  	    			prefix="/"+path[1];	
  	    		}
	     		 window.open(prefix+"/purchase/populatedPlace/searchPopulatedPlace","_self");
	    	  }
	    	});
	        	     
		   
		     
		  function setFocus(){
		   		document.getElementById("state").focus();
		   } 
		   
		   $(function(){
		   	  			$("#country").change(function(){
		   	  				var e=document.getElementById("country");
		   	  	 		   	var country=e.options[e.selectedIndex].value;
		   	  	 		   	var path=window.location.pathname.split("/");
		   	  	 		    var prefix="";
		   	  	 		   	if (path[1].localeCompare("configuration")!=0){
		   	  	 		   			prefix="/"+path[1];	
		   	  	 		   	}
		   	  	 		   	var url=prefix+"//populatedPlace/retrieveState/retrieve?country="+country;
		   	  	 		 $.ajax({
		   		  	 		  url: url,
		   		  	 		  beforeSend: function(xhr) {
		   		  	            xhr.setRequestHeader("Accept", "application/json");
		   		  	        }
		   		  	 		 }).done(function(info){
		   		  	 			var optionsAsString;
		   		  	 			
		   		  	 			optionsAsString = "";
		   		  	 			var stateArray=info.stateList;
		   		  	 					  	 			
		   		  	 			if (stateArray!=null){
		   		  	 				for(var i = 0; i < stateArray.length; i++) {
		   		  	 			    optionsAsString += "<option value='" + stateArray[i].state + "'>" + stateArray[i].state + "</option>";
		   		  	 				}
		   		  	 				$( 'select[name="state"]' ).find('option').remove().end().append( optionsAsString );
		   		  	 			}
		   		  	 			else {
		   		  	 				$( 'select[name="state"]' ).find('option').remove().end();
		   		  	 			}

		   		  	 					  	 			
		   		  	 		 });
		   	  	 		  
		   	  	 		  });
		   			});

		   
		   $(document).ready( function () {
				
				$('.about-ajax-popup').magnificPopup({
					type: 'ajax'
				});
			} );
		   
	       /* ]]> */
	     </script>
    </head>
    <body onload="setFocus()">
    	<div th:include="normal/layoutpurchase :: header" ></div>
    	<div class="container-fluid">	
			<div class="row-fluid">
		        <form th:object="${populatedPlaceInfo}" method="post" onchange="hideAlert();">
		        	<div id="back"><a th:if="${populatedPlaceInfo.calledFrom=='fromList'}" th:text="#{label.back}" th:href="@{/purchase/populatedPlace/searchPopulatedPlace}"></a></div>
		        	<div align="center">
		        	<h3 th:text="#{label.populatedPlaceCreationTitle}"></h3>
		        	<br/>
		        	<table>		        			        			
		        		<tr>
		        			<td ><b th:text="#{label.populatedPlaceCountry}+': '"></b></td>
		        			<td><select id="country" onChange="countrySelectedRefresh()" th:field="*{countryId}"><option th:each="reference : ${populatedPlaceInfo.countryList}" th:value="${reference.id}" th:text="${reference.country}"></option></select></td>
		        			<td th:if="${countryException}"><div class="alert alert-error" th:text="#{${countryValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        			<td ><b th:text="#{label.populatedPlaceState}+': '"></b></td>
		        			<td><select id="state" onChange="stateSelectedRefresh()" th:field="*{stateId}"><option th:each="reference : ${populatedPlaceInfo.stateList}" th:value="${reference.id}" th:text="${reference.state}"></option></select></td>
		        			<td th:if="${stateException}"><div class="alert alert-error" th:text="#{${stateValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.populatedPlacePopulatedPlace}+': '"></b></td>
		        				<td><input id="populatedPlace" name="populatedPlace" type="text" th:value="*{{populatedPlace}}" /></td>
		        				<td th:if="${populatedPlaceException}"><div class="alert alert-error" th:text="#{${populatedPlaceValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.populatedPlaceArea}+': '"></b></td>
		        				<td><input id="area" name="area" type="text" th:value="*{{area}}" /></td>
		        				<td th:if="${areaException}"><div class="alert alert-error" th:text="#{${areaValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.populatedPlacePopulation}+': '"></b></td>
		        				<td><input id="population" name="population" type="text" th:value="*{{population}}" /></td>
		        				<td th:if="${populationException}"><div class="alert alert-error" th:text="#{${populationValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.populatedPlaceLatitude}+': '"></b></td>
		        				<td><input id="latitude" name="latitude" type="text" th:value="*{{latitude}}" /></td>
		        				<td th:if="${latitudeException}"><div class="alert alert-error" th:text="#{${latitudeValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.populatedPlaceLongitude}+': '"></b></td>
		        				<td><input id="longitude" name="longitude" type="text" th:value="*{{longitude}}" /></td>
		        				<td th:if="${longitudeException}"><div class="alert alert-error" th:text="#{${longitudeValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        		 			<td ><b th:text="#{label.populatedPlaceActive}+': '"></b></td>
		        		   			<td ><input type="checkbox" th:field="*{active}" /></td>
		        		</tr>

		        		<tr>
		        			<td>
		        				<input type="submit" th:value="#{label.save}" />
		        			</td>
		        		</tr>
		        	</table>
		        	</div>
		        </form>
		    </div>
		    <div id="_savedAlert" th:if='${populatedPlaceInfo.created}' class="alert alert-info" th:text="#{label.created}">
            </div>
            <div th:if='${populatedPlaceCreateException}' class="alert alert-error" th:text="#{label.populatedPlaceCreationError}">
            </div>
            <div th:if='${populatedPlaceValidationException}' class="alert alert-error" th:text="#{label.validationError}">
            </div>
	    </div>
		<div class="container-fluid" th:include="normal/layoutpurchase :: footer"></div>    
    </body>
</html>