<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://www.springframework.org/tags" >
    <head>
    	<meta charset="UTF-8" />
        <title th:text="#{label.typeConceptKardexCreationTitle}"></title>
        
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
	        body {
	            padding-top: 60px;
	            padding-bottom: 40px;
	        }
	
	        .sidebar-nav {
	            padding: 9px 0;
	        }
	    </style>
	   	<link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.4.min.css}"/>
<!-- 	      For production purposes, min version should be used -->
		<script th:src="@{/resources/js/jquery-1.11.0.min.js}"></script>
		<script th:src="@{/resources/js/jquery-ui-1.10.4.min.js}"></script>
	    <link th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet" />
	    <link th:href="@{/resources/css/magnificPopup.css}" rel="stylesheet" />
	    <script th:src="@{/resources/js/magnificPopup.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap-tab.js}"></script>
	  
	    <script type="text/javascript">
	      /* <![CDATA[ */
	      
	      function hideAlert(){
	    	  document.getElementById("_savedAlert").style.display='none';
	      }
	     
	      $(document).keyup(function(e) {
	    	  if(e.which == 27) {
	    		var path=window.location.pathname.split("/");
  	    		var prefix="";
  	    		if (path[1].localeCompare("configuration")!=0){
  	    			prefix="/"+path[1];	
  	    		}
	     		 window.open(prefix+"/maintenance/typeConceptKardex/searchTypeConceptKardex","_self");
	    	  }
	    	});
	        	     
		   
		     
		  function setFocus(){
		   		document.getElementById("typeConceptKardex").focus();
		   } 
		   
		   
		   $(document).ready( function () {
				
				$('.about-ajax-popup').magnificPopup({
					type: 'ajax'
				});
			} );
		   
	       /* ]]> */
	     </script>
    </head>
    <body onload="setFocus()">
    	<div th:include="normal/layoutmaintenance :: header" ></div>
    	<div class="container-fluid">	
			<div class="row-fluid">
		        <form th:object="${typeConceptKardexInfo}" method="post" onchange="hideAlert();">
		        	<div id="back"><a th:if="${typeConceptKardexInfo.calledFrom=='fromList'}" th:text="#{label.back}" th:href="@{/maintenance/typeConceptKardex/searchTypeConceptKardex}"></a></div>
		        	<div align="center">
		        	<h3 th:text="#{label.typeConceptKardexCreationTitle}"></h3>
		        	<br/>
		        	
		        	<table>
		        		<tr>
		        				<td ><b th:text="#{label.typeConceptKardexTypeConceptKardex}+': '"></b></td>
		        				<td>
		        					<input th:if="${_loggedInUser.typeConceptKardexCreate}" id="typeConceptKardex" name="typeConceptKardex" type="text" th:value="*{{typeConceptKardex}}" />
		        					<input th:if="${_loggedInUser.typeConceptKardexCreate} != true" disabled="disabled" id="typeConceptKardex" name="typeConceptKardex" type="text" th:value="*{{typeConceptKardex}}" />
		        					
		        				</td>
		        				<td th:if="${typeConceptKardexException}"><div class="alert alert-error" th:text="#{${typeConceptKardexValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        		 			<td ><b th:text="#{label.typeConceptKardexActive}+': '"></b></td>
		        		   			<td >
		        		   				<input th:if="${_loggedInUser.typeConceptKardexCreate}" type="checkbox" th:field="*{active}" />
		        		   				<input th:if="${_loggedInUser.typeConceptKardexCreate} != true" disabled="disabled" type="checkbox" th:field="*{active}" />
		        		   			</td>
		        		</tr>

		        	</table>
		        	<table>		        			        			
		        		<tr>
		        			<td>
		        				<input type="submit" th:value="#{label.save}" />
		        			</td>
		        		</tr>
		        	</table>
		        	</div>
		        </form>
		    </div>
		    <div id="_savedAlert" th:if='${typeConceptKardexInfo.created}' class="alert alert-info" th:text="#{label.created}">
            </div>
            <div th:if='${typeConceptKardexCreateException}' class="alert alert-error" th:text="#{label.typeConceptKardexCreationError}">
            </div>
            <div th:if='${typeConceptKardexValidationException}' class="alert alert-error" th:text="#{label.validationError}">
            </div>
	    </div>
		<div class="container-fluid" th:include="normal/layoutmaintenance :: footer"></div>    
    </body>
</html>