<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://www.springframework.org/tags" >
<head>
	<meta charset="UTF-8"/>
	<title  th:text="#{label.configurationTitle}"></title>
	<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
	        body {
	            padding-top: 60px;
	            padding-bottom: 40px;
	        }
	
	        .sidebar-nav {
	            padding: 9px 0;
	        }
	    </style>
	 <link th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet" />
	 <script th:src="@{/resources/js/jquery-1.11.0.min.js}"></script>
	 <script th:src="@{/resources/js/jquery-ui-1.10.4.min.js}"></script>
	 <link th:href="@{/resources/css/magnificPopup.css}" rel="stylesheet" />
	 <script th:src="@{/resources/js/magnificPopup.min.js}"></script>
	 <script type="text/javascript">
	      /* <![CDATA[ */
	      	$(document).ready( function () {
				
				$('.about-ajax-popup').magnificPopup({
					type: 'ajax'
				});
			} );   
	      /* ]]> */
	 </script>
</head>
<body>
	<div th:include="normal/layout :: header" ></div>
	<div class="container-fluid">	
			<div class="hero-unit span9">
				<div><a th:href="@{/configuration/exchangeRate/searchExchangeRate}" th:text="#{label.exchangeRateConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/continent/searchContinent}" th:text="#{label.continentConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/region/searchRegion}" th:text="#{label.regionConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/country/searchCountry}" th:text="#{label.countryConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/state/searchState}" th:text="#{label.stateConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/populatedPlace/searchPopulatedPlace}" th:text="#{label.populatedPlaceConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/docSite/searchDocSite}" th:text="#{label.docSiteConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/localAccountLevel1/searchLocalAccountLevel1}" th:text="#{label.localAccountLevel1Configuration}"></a> </div>
				<div><a th:href="@{/configuration/localAccountChart/searchLocalAccountChart}" th:text="#{label.localAccountChartConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/account/searchAccount}" th:text="#{label.accountConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/accountConcept/searchAccountConcept}" th:text="#{label.accountConceptConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/inventoryAccount/searchInventoryAccount}" th:text="#{label.inventoryAccountConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/withholding/searchWithholding}" th:text="#{label.withholdingConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/tax/searchTax}" th:text="#{label.taxConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/commerceWithholding/searchCommerceWithholding}" th:text="#{label.commerceWithholdingConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/consignmentWithholding/searchConsignmentWithholding}" th:text="#{label.consignmentWithholdingConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/stampDuty/searchStampDuty}" th:text="#{label.stampDutyConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/thirdParty/searchThirdParty}" th:text="#{label.thirdPartyConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/thirdPartyClass/searchThirdPartyClass}" th:text="#{label.thirdPartyClassConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/partner/searchPartner}" th:text="#{label.partnerConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/operatingSystem/searchOperatingSystem}" th:text="#{label.operatingSystemConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/corporation/searchCorporation}" th:text="#{label.corporationConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/company/searchCompany}" th:text="#{label.companyConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/branch/searchBranch}" th:text="#{label.branchConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/department/searchDepartment}" th:text="#{label.departmentConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/section/searchSection}" th:text="#{label.sectionConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/doc/searchDoc}" th:text="#{label.docConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/stockTransaction/searchStockTransaction}" th:text="#{label.stockTransactionConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/contract/searchContract}" th:text="#{label.contractConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/field/searchField}" th:text="#{label.fieldConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/oilWell/searchOilWell}" th:text="#{label.oilWellConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/billingCode/searchBillingCode}" th:text="#{label.billingCodeConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/jointVenture/searchJointVenture}" th:text="#{label.jointVentureConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/afeType/searchAfeType}" th:text="#{label.afeTypeConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/afe/searchAfe}" th:text="#{label.afeConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/afeBudget/searchAfeBudget}" th:text="#{label.afeBudgetConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/costCenter/searchCostCenter}" th:text="#{label.costCenterConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/measurementUnit/searchMeasurementUnit}" th:text="#{label.measurementUnitConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/stockGroup/searchStockGroup}" th:text="#{label.stockGroupConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/stockSubGroup/searchStockSubGroup}" th:text="#{label.stockSubGroupConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/division/searchDivision}" th:text="#{label.divisionConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/warehouse/searchWarehouse}" th:text="#{label.warehouseConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/periodType/searchPeriodType}" th:text="#{label.periodTypeConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/period/searchPeriod}" th:text="#{label.periodConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/quality/searchQuality}" th:text="#{label.qualityConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/expenseType/searchExpenseType}" th:text="#{label.expenseTypeConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/holiday/searchHoliday}" th:text="#{label.holidayConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/methodOfPayment/searchMethodOfPayment}" th:text="#{label.methodOfPaymentConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/supplierSelectionReason/searchSupplierSelectionReason}" th:text="#{label.supplierSelectionReasonConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/deliveryLocations/searchDeliveryLocations}" th:text="#{label.deliveryLocationsConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/person/searchPerson}" th:text="#{label.personConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/itemType/searchItemType}" th:text="#{label.itemTypeConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/item/searchItem}" th:text="#{label.itemConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/itemTradeMark/searchItemTradeMark}" th:text="#{label.itemTradeMarkConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/miniMax/searchMiniMax}" th:text="#{label.miniMaxConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/itemPurchaseHistory/searchItemPurchaseHistory}" th:text="#{label.itemPurchaseHistoryConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/requisition/searchRequisition}" th:text="#{label.requisitionConfiguration}"></a> </div>
				<div><a th:href="@{/configuration/requisitionItem/searchRequisitionItem}" th:text="#{label.requisitionItemConfiguration}"></a> </div>

			</div>
	</div>
	<div th:include="normal/layout :: footer"></div>
</body>
</html>