<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<meta charset="ISO-8859-1" />
	<body>
		<div th:fragment='paginationbar'>
			  <div class='pagination pagination-centered'>
			    <ul>
			      <li>
			        <span th:if='${page.firstPage}' th:text='#{label.firstPage}'>First</span>
			        <a th:if='${not page.firstPage}' th:href='@{${page.url}(page.page=1,page.size=${page.size})}' th:text='#{label.firstPage}'>First</a>
			      </li>
			      <li>
			        <span th:if='${not page.hasPreviousPage}'>«</span>
			        <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page.page=${page.number-1})}' th:title='#{label.previousPage}'>«</a>
			      </li>
			      <li>
<!-- 			        <span th:if='${item.current}' th:text='${item.number}'>1</span> -->
			        <span th:text="${page.number}+'/'+${page.totalPages}">1</span>
			      </li>
			      <li>
			        <span th:if='${not page.hasNextPage}'>»</span>
			        <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page.page=${page.number+1})}' th:title='#{label.nextPage}'>»</a>
			      </li>
			      <li>
			        <span th:if='${page.lastPage}' th:text='#{label.lastPage}'>Last</span>
			        <a th:if='${not page.lastPage}' th:href='@{${page.url}(page.page=${page.totalPages})}' th:text='#{label.lastPage}'>Last</a>
			      </li>
			    </ul>
			  </div>
		</div>
	</body>
</html>