<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://www.springframework.org/tags" >
    <head>
    	<meta charset="UTF-8" />
        <title th:text="#{label.historyStockBalanceCreationTitle}"></title>
        
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
	        body {
	            padding-top: 60px;
	            padding-bottom: 40px;
	        }
	
	        .sidebar-nav {
	            padding: 9px 0;
	        }
	    </style>
	   	<link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.4.min.css}"/>
<!-- 	      For production purposes, min version should be used -->
		<script th:src="@{/resources/js/jquery-1.11.0.min.js}"></script>
		<script th:src="@{/resources/js/jquery-ui-1.10.4.min.js}"></script>
	    <link th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet" />
	    <link th:href="@{/resources/css/magnificPopup.css}" rel="stylesheet" />
	    <script th:src="@{/resources/js/magnificPopup.min.js}"></script>
	    <script type="text/javascript">
	      /* <![CDATA[ */
	      
	      function hideAlert(){
	    	  document.getElementById("_savedAlert").style.display='none';
	      }
	     
	      $(document).keyup(function(e) {
	    	  if(e.which == 27) {
	    		var path=window.location.pathname.split("/");
  	    		var prefix="";
  	    		if (path[1].localeCompare("configuration")!=0){
  	    			prefix="/"+path[1];	
  	    		}
	     		 window.open(prefix+"/purchase/historyStockBalance/searchHistoryStockBalance","_self");
	    	  }
	    	});
	        	     
		   
		     
		  function setFocus(){
		   		document.getElementById("item").focus();
		   } 
		   
		   
		   $(document).ready( function () {
				
				$('.about-ajax-popup').magnificPopup({
					type: 'ajax'
				});
			} );
		   
		    $(document).ready( function () {
		    							 
		    			    $( "#updateAs" ).datepicker({ dateFormat: 'dd/mm/yy' });
		    } );
		    $(document).ready( function () {
		    							 
		    			    $( "#dueDate" ).datepicker({ dateFormat: 'dd/mm/yy' });
		    } );

	       /* ]]> */
	     </script>
    </head>
    <body onload="setFocus()">
    	<div th:include="normal/layoutpurchase :: header" ></div>
    	<div class="container-fluid">	
			<div class="row-fluid">
		        <form th:object="${historyStockBalanceInfo}" method="post" onchange="hideAlert();">
		        	<div id="back"><a th:if="${historyStockBalanceInfo.calledFrom=='fromList'}" th:text="#{label.back}" th:href="@{/purchase/historyStockBalance/searchHistoryStockBalance}"></a></div>
		        	<div align="center">
		        	<h3 th:text="#{label.historyStockBalanceCreationTitle}"></h3>
		        	<br/>
		        	<table>		        			        			
		        		<tr>
		        			<td ><b th:text="#{label.historyStockBalanceItem}+': '"></b></td>
		        			<td><select id="item" onChange="itemSelectedRefresh()" th:field="*{itemId}"><option th:each="reference : ${historyStockBalanceInfo.itemList}" th:value="${reference.id}" th:text="${reference.code}"></option></select></td>
		        			<td th:if="${itemException}"><div class="alert alert-error" th:text="#{${itemValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        			<td ><b th:text="#{label.historyStockBalanceWarehouse}+': '"></b></td>
		        			<td><select id="warehouse" onChange="warehouseSelectedRefresh()" th:field="*{warehouseId}"><option th:each="reference : ${historyStockBalanceInfo.warehouseList}" th:value="${reference.id}" th:text="${reference.code}"></option></select></td>
		        			<td th:if="${warehouseException}"><div class="alert alert-error" th:text="#{${warehouseValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        			<td ><b th:text="#{label.historyStockBalanceItemCondition}+': '"></b></td>
		        			<td><select id="itemCondition" onChange="itemConditionSelectedRefresh()" th:field="*{itemConditionId}"><option th:each="reference : ${historyStockBalanceInfo.itemConditionList}" th:value="${reference.id}" th:text="${reference.code}"></option></select></td>
		        			<td th:if="${itemConditionException}"><div class="alert alert-error" th:text="#{${itemConditionValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.historyStockBalanceUpdateAs}+': '"></b></td>
		        				<td><input id="updateAs" name="updateAs" type="text" th:value="*{{updateAs}}" /></td>
		        				<td th:if="${updateAsException}"><div class="alert alert-error" th:text="#{${updateAsValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.historyStockBalanceLocation}+': '"></b></td>
		        				<td><input id="location" name="location" type="text" th:value="*{{location}}" /></td>
		        				<td th:if="${locationException}"><div class="alert alert-error" th:text="#{${locationValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.historyStockBalanceDueDate}+': '"></b></td>
		        				<td><input id="dueDate" name="dueDate" type="text" th:value="*{{dueDate}}" /></td>
		        				<td th:if="${dueDateException}"><div class="alert alert-error" th:text="#{${dueDateValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        		 			<td ><b th:text="#{label.historyStockBalanceActive}+': '"></b></td>
		        		   			<td ><input type="checkbox" th:field="*{active}" /></td>
		        		</tr>

		        		<tr>
		        			<td>
		        				<input type="submit" th:value="#{label.save}" />
		        			</td>
		        		</tr>
		        	</table>
		        	</div>
		        </form>
		    </div>
		    <div id="_savedAlert" th:if='${historyStockBalanceInfo.created}' class="alert alert-info" th:text="#{label.created}">
            </div>
            <div th:if='${historyStockBalanceCreateException}' class="alert alert-error" th:text="#{label.historyStockBalanceCreationError}">
            </div>
            <div th:if='${historyStockBalanceValidationException}' class="alert alert-error" th:text="#{label.validationError}">
            </div>
	    </div>
		<div class="container-fluid" th:include="normal/layoutpurchase :: footer"></div>    
    </body>
</html>