<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://www.springframework.org/tags" >
 <head>
<meta charset="ISO-8859-1"/>
<title th:text="#{label.itemTitle}"></title>
<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
	        body {
	            padding-top: 60px;
	            padding-bottom: 40px;
	        }
	
	        .sidebar-nav {
	            padding: 9px 0;
	        }
	    </style>
	     <link th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet" />
</head>
<body>
	<div th:include="layout :: header" ></div>
	<div class="container-fluid">	
		<div class="hero-unit span9">
	<form th:object="${itemInfo}" method="post">
			<input type="text" th:field="*{code}"/>
			<input type="submit" th:value="#{label.searchItem}" />
	</form>
			<h3 th:text="#{label.itemInfo}"></h3>
			<table>
				<tr>
					<td th:text="#{label.code}"></td>
					<td th:text="#{label.shortDescription}"></td>
					<td th:text="#{label.purchaseUnitofMeasurement}"></td>
					<td th:text="#{label.partNumber}"></td>
					<td th:text="#{label.array}"></td>
					<td th:text="#{label.group}"></td>
					<td th:text="#{label.enabled}"></td>
					<td th:text="#{label.blocked}"></td>
				</tr>
				<tr>
					<td th:text="${itemInfo.code}"></td>
					<td th:text="${itemInfo.shortDescription}"></td>
					<td th:text="${itemInfo.purchaseUnitOfMeasurement}"></td>
					<td th:text="${itemInfo.partNumber}"></td>
					<td th:text="${itemInfo.array}"></td>
					<td th:text="${itemInfo.groupOfItems}"></td>
					<td th:text="${itemInfo.enabled}"></td>
					<td th:text="${itemInfo.blocked}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>