<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://www.springframework.org/tags" >
    <head>
    	<meta charset="UTF-8" />
        <title th:text="#{label.localAccountChartModificationTitle}"></title>
        
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
	        body {
	            padding-top: 60px;
	            padding-bottom: 40px;
	        }
	
	        .sidebar-nav {
	            padding: 9px 0;
	        }
	    </style>
	    
	    <link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.4.min.css}"/>
<!-- 	      For production purposes, min version should be used -->
		<script th:src="@{/resources/js/jquery-1.11.0.min.js}"></script>
		<script th:src="@{/resources/js/jquery-ui-1.10.4.min.js}"></script>
	    <link th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet" />
    	<link th:href="@{/resources/css/magnificPopup.css}" rel="stylesheet" />
	    <script th:src="@{/resources/js/magnificPopup.min.js}"></script>
    	<script type="text/javascript">
    	/* <![CDATA[ */
    	
	     $(document).on("click", "a", function(event){
	     	if (event.target.id!="about-ajax-popup"){
		    	  var link = $(this);
		    	  var target = link.attr("target");
		    	  if($.trim(target).length > 0)
		    	  {
		    	    window.open(link.attr("href"), target);
		    	  }
		    	  else
		    	  {
		    	     window.location = link.attr("href");
		    	  }
	
		    	  event.preventDefault();
	    	  }
	    	});
	     
	     $(document).keyup(function(e) {
	    	  if(e.which == 27) {
	     		  $('#back a').trigger('click');
	    	  }
	    	});
	    	
	    	function setFocus(){
		   		document.getElementById("code").focus();
		   }

		    
		    
		    
		    $(document).ready( function () {
				
				$('.about-ajax-popup').magnificPopup({
					type: 'ajax'
				});
			} ); 
		    
		 /* ]]> */
	     </script>
	     
    
    </head>
    <body onload="setFocus()">
    	<div th:include="normal/layoutpurchase :: header" ></div>
    	<div class="container-fluid">	
			<div class="row-fluid">
		        <form th:object="${localAccountChartInfo}" method="post">
		        	<div id="back"><a th:text="#{label.back}" th:href="@{/purchase/localAccountChart/searchLocalAccountChart}"></a></div>
		        	<div align="center">
		        	<h3 th:text="#{label.localAccountChartModificationTitle}"></h3>
		        	<br/>
		        	<table>
		        		<tr>
		        				<td ><b th:text="#{label.localAccountChartCode}+': '"></b></td>
		        				<td><input id="code" name="code" type="text" th:value="*{{code}}" /></td>
		        				<td th:if="${codeException}"><div class="alert alert-error" th:text="#{${codeValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.localAccountChartLocalAccount}+': '"></b></td>
		        				<td><input id="localAccount" name="localAccount" type="text" th:value="*{{localAccount}}" /></td>
		        				<td th:if="${localAccountException}"><div class="alert alert-error" th:text="#{${localAccountValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.localAccountChartEnglishName}+': '"></b></td>
		        				<td><input id="englishName" name="englishName" type="text" th:value="*{{englishName}}" /></td>
		        				<td th:if="${englishNameException}"><div class="alert alert-error" th:text="#{${englishNameValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        			<td ><b th:text="#{label.localAccountChartLocalAccountLevel1}+': '"></b></td>
		        			<td><select id="localAccountLevel1" onChange="localAccountLevel1SelectedRefresh()" th:field="*{localAccountLevel1Id}"><option th:each="reference : ${localAccountChartInfo.localAccountLevel1List}" th:value="${reference.id}" th:text="${reference.localAccountLevel1}"></option></select></td>
		        			<td th:if="${localAccountLevel1Exception}"><div class="alert alert-error" th:text="#{${localAccountLevel1ValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        		 			<td ><b th:text="#{label.localAccountChartActive}+': '"></b></td>
		        		   			<td ><input type="checkbox" th:field="*{active}" /></td>
		        		</tr>

		        		<tr>
		        			<td>
		        				<input type="submit" th:value="#{label.save}" />
		        			</td>
		        		</tr>
		        	</table>
		        	</div>
		        </form>
		    </div>
		    <div th:if='${localAccountChartModificationException}' class="alert alert-error" th:text="#{label.localAccountChartModificationError}">
            </div>
            <div th:if='${localAccountChartValidationException}' class="alert alert-error" th:text="#{label.validationError}">
            </div>
	    </div>
		<div class="container-fluid" th:include="normal/layoutpurchase :: footer"></div>    
    </body>
</html>