<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://www.springframework.org/tags" >
    <head>
    	<meta charset="UTF-8" />
        <title th:text="#{label.userCreationTitle}"></title>
        
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
	        body {
	            padding-top: 60px;
	            padding-bottom: 40px;
	        }
	
	        .sidebar-nav {
	            padding: 9px 0;
	        }
	    </style>
	   	<link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.4.min.css}"/>
<!-- 	      For production purposes, min version should be used -->
		<script th:src="@{/resources/js/jquery-1.11.0.min.js}"></script>
		<script th:src="@{/resources/js/jquery-ui-1.10.4.min.js}"></script>
	    <link th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet" />
	    <link th:href="@{/resources/css/magnificPopup.css}" rel="stylesheet" />
	    <script th:src="@{/resources/js/magnificPopup.min.js}"></script>
	    <script type="text/javascript">
	      /* <![CDATA[ */
	      
	      function hideAlert(){
	    	  document.getElementById("_savedAlert").style.display='none';
	      }
	     
	      $(document).keyup(function(e) {
	    	  if(e.which == 27) {
	    		var path=window.location.pathname.split("/");
  	    		var prefix="";
  	    		if (path[1].localeCompare("configuration")!=0){
  	    			prefix="/"+path[1];	
  	    		}
	     		 window.open(prefix+"/purchase/user/searchUser","_self");
	    	  }
	    	});
	        	     
		   
		     
		  function setFocus(){
		   		document.getElementById("user").focus();
		   } 
		   
		   
		   $(document).ready( function () {
				
				$('.about-ajax-popup').magnificPopup({
					type: 'ajax'
				});
			} );
		   
	       /* ]]> */
	     </script>
    </head>
    <body onload="setFocus()">
    	<div th:include="normal/layoutpurchase :: header" ></div>
    	<div class="container-fluid">	
			<div class="row-fluid">
		        <form th:object="${userInfo}" method="post" onchange="hideAlert();">
		        	<div id="back"><a th:if="${userInfo.calledFrom=='fromList'}" th:text="#{label.back}" th:href="@{/purchase/user/searchUser}"></a></div>
		        	<div align="center">
		        	<h3 th:text="#{label.userCreationTitle}"></h3>
		        	<br/>
		        	<table>		        			        			
		        		<tr>
		        				<td ><b th:text="#{label.userUser}+': '"></b></td>
		        				<td><input id="user" name="user" type="text" th:value="*{{user}}" /></td>
		        				<td th:if="${userException}"><div class="alert alert-error" th:text="#{${userValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.userPassword}+': '"></b></td>
		        				<td><input id="password" name="password" type="text" th:value="*{{password}}" /></td>
		        				<td th:if="${passwordException}"><div class="alert alert-error" th:text="#{${passwordValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.userFirstNames}+': '"></b></td>
		        				<td><input id="firstNames" name="firstNames" type="text" th:value="*{{firstNames}}" /></td>
		        				<td th:if="${firstNamesException}"><div class="alert alert-error" th:text="#{${firstNamesValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.userLastName}+': '"></b></td>
		        				<td><input id="lastName" name="lastName" type="text" th:value="*{{lastName}}" /></td>
		        				<td th:if="${lastNameException}"><div class="alert alert-error" th:text="#{${lastNameValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        				<td ><b th:text="#{label.userEmail}+': '"></b></td>
		        				<td><input id="email" name="email" type="text" th:value="*{{email}}" /></td>
		        				<td th:if="${emailException}"><div class="alert alert-error" th:text="#{${emailValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        			<td ><b th:text="#{label.userRole}+': '"></b></td>
		        			<td><select id="role" onChange="roleSelectedRefresh()" th:field="*{roleId}"><option th:each="reference : ${userInfo.roleList}" th:value="${reference.id}" th:text="${reference.role}"></option></select></td>
		        			<td th:if="${roleException}"><div class="alert alert-error" th:text="#{${roleValidationErrorMessage}}"></div></td>
		        		</tr>
		        		<tr>
		        		 			<td ><b th:text="#{label.userActive}+': '"></b></td>
		        		   			<td ><input type="checkbox" th:field="*{active}" /></td>
		        		</tr>

		        		<tr>
		        			<td>
		        				<input type="submit" th:value="#{label.save}" />
		        			</td>
		        		</tr>
		        	</table>
		        	</div>
		        </form>
		    </div>
		    <div id="_savedAlert" th:if='${userInfo.created}' class="alert alert-info" th:text="#{label.created}">
            </div>
            <div th:if='${userCreateException}' class="alert alert-error" th:text="#{label.userCreationError}">
            </div>
            <div th:if='${userValidationException}' class="alert alert-error" th:text="#{label.validationError}">
            </div>
	    </div>
		<div class="container-fluid" th:include="normal/layoutpurchase :: footer"></div>    
    </body>
</html>