<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://www.springframework.org/tags" >
    <head>
    	<meta charset="ISO-8859-1" />
        <title th:text="#{label.articuloCreationTitle}"></title>
        
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
	        body {
	            padding-top: 60px;
	            padding-bottom: 40px;
	        }
	
	        .sidebar-nav {
	            padding: 9px 0;
	        }
	    </style>
	   	<link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.10.4.min.css}"/>
<!-- 	      For production purposes, min version should be used -->
		<script th:src="@{/resources/js/jquery-1.11.0.min.js}"></script>
		<script th:src="@{/resources/js/jquery-ui-1.10.4.min.js}"></script>
	    <link th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet" />
	    
	    <script>
	    			  $(function() {
	    			    $( "#activationDate" ).datepicker();
	    			  });
	    </script>
	    <script>
	    			  $(function() {
	    			    $( "#expirationDate" ).datepicker();
	    			  });
	    </script>

    </head>
    <body>
    	<div th:include="normal/layout :: header" ></div>
    	<div class="container-fluid">	
			<div class="row-fluid">
		        <form th:object="${articuloInfo}" method="post">
		        	<a th:if="${articuloInfo.calledFrom=='fromList'}" th:text="#{label.back}" th:href="@{/configuration/articulo/searchArticulo}"></a>
		        	<h3 th:text="#{label.articuloCreationTitle}"></h3>
		        	<table>		        			        			
		        		<tr>
		        				<td th:text="#{label.articuloCode}+': '"></td>
		        				<td><input type="text" th:field="*{code}"  /></td>
		        		</tr>
		        		<tr>
		        				<td th:text="#{label.articuloDescription}+': '"></td>
		        				<td><input type="text" th:field="*{description}"  /></td>
		        		</tr>
		        		<tr>
		        				        				<td th:text="#{label.articuloLongDescription}+': '"></td>
		        				        				<td><textarea th:field="*{longDescription}" ></textarea></td>
		        		</tr>
		        		<tr>
		        				<td th:text="#{label.articuloActivationDate}+': '"></td>
		        				<td><input type="text" th:field="*{activationDate}" id="activationDate" /></td>
		        		</tr>
		        		<tr>
		        				<td th:text="#{label.articuloExpirationDate}+': '"></td>
		        				<td><input type="text" th:field="*{expirationDate}" id="expirationDate" /></td>
		        		</tr>

		        		<tr>
		        			<td th:text="#{label.articuloUnidadMedida}+': '"></td>
		        			<td><select th:field="*{unidadMedida}"><option th:each="reference : ${articuloInfo.unidadMedidaList}" th:value="${reference.name}" th:text="${reference.name}"></option></select></td>
		        		</tr>
		        		<tr>
		        			<td th:text="#{label.articuloGrupo}+': '"></td>
		        			<td><select th:field="*{grupo}"><option th:each="reference : ${articuloInfo.grupoList}" th:value="${reference.description}" th:text="${reference.description}"></option></select></td>
		        		</tr>

		        		<tr>
		        			<td>
		        				<input type="submit" th:value="#{label.save}" />
		        			</td>
		        		</tr>
		        	</table>
		        </form>
		    </div>
		    <div th:if='${articuloInfo.created}' class="alert alert-info" th:text="#{label.created}">
            </div>
            <div th:if='${articuloCreateException}' class="alert alert-error" th:text="#{label.articuloCreationError}">
            </div>
            <div th:if='${articuloValidationException}' class="alert alert-error" th:text="#{label.grupoValidationError}">
            </div>
	    </div>
		<div th:include="normal/layout :: footer"></div>    
    </body>
</html>